@font-normal     : 23px;
@color-text      : white;
@color-noir       : black;
@color-gris       : #c1bfbf;
@color-intro     : darkorange;

.wrapper(){
    border: 1px solid navy;
}

header p{
    width: 25%;
    float: left;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: black;
}

img{
    width: 500px;
    max-width: 100%;
    margin: 0 auto;
}

h1{
    text-align: center;
    margin-bottom: 30px;
}

body{
    background-color: @color-gris;
    color: @color-text;
}

main{
    width: 1180px;
    max-width: 94%;
    margin: 0 auto;
    background-color: @color-noir;
    padding: 3%;
}

.blocGauche, .blocDroite{
    width: 45%;
}

.blocGauche{
    float: left;
    margin-right: 10px;
    text-align: center;
}

.blocDroite{
    float: right;
    margin-left: 10px;
}

h1{
    font-size: 3rem;
}

.intro{
    font-style: italic;
    text-align: right;
    color: @color-intro;
}

.wrapper{.wrapper();}

.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}
.clearfix {display: block;}
html[xmlns] .clearfix {display: block;}
* html .clearfix {height: 1%;}

@media screen and (max-width: 999px) {
    .blocGauche, .blocDroite{width:100%;}
}